<!-- **** School Content **** -->
<div class="rightbar">
    <accordion close-others="true">
      <accordion-group heading="{{area.attributes.name}}" ng-repeat="area in areas" is-open="clickedMarker[area.id]" class="barpanel" id="{{ area.id }}">
        <div class="col-md-12">
            <h4>Kartor</h4>
            <div ng-repeat="map in area.attributes.maps">
                <div class="col-md-4">
                    <p ng-bind="map.attributes.name"></p>
                    <img ng-src="{{displayMap(map.attributes.file._url)}}" class="img-responsive" ng-click="showModal(map.attributes.file._url, area.attributes.name, map.attributes.name)"/>
                </div>
            </div>
        </div>
      </accordion-group>
    </accordion>
</div>