<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Wahoo Development | Utvecklingsbyrå i Uppsala</title>
    <meta property="og:title" content="">
    <meta name="og:image" content="">
    <meta property="og:description" content="">

    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap-css/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/vegas/dist/vegas.min.css" />
    <link rel="stylesheet" href="../bower_components/nya-bootstrap-select/dist/css/nya-bs-select.css" />
    <!-- endbower -->

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="css/base.css">

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/parse-angular-patch/dist/parse-angular.js"></script>
    <script src="../bower_components/bootstrap-css/js/bootstrap.min.js"></script>
    <script src="../bower_components/vegas/dist/vegas.min.js"></script>
    <script src="../bower_components/parse/parse.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/nya-bootstrap-select/dist/js/nya-bs-select.js"></script>
    <script src="../bower_components/lodash/lodash.js"></script>
    <script src="../bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="../bower_components/angularjs-geolocation/src/geolocation.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->

    <!-- Javascript -->
    <script src="../dev/js/app.js"></script>
    <script src="../dev/js/controllers/uploadMapController.js"></script>
    <script src="../dev/js/base.js"></script>

   

</head>
<body>
  <div class="pagewrap">
    <nav class="navbar navbar-default navbar-fixed-top" id="header" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
            <a class="navbar-brand" href="/">Kartwebben</a>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
          <ul class="nav navbar-nav">
            <li class="customers-nav"><a href="/dev/orientera.html">Orientera</a></li>
            <li class="blog-nav"><a href="/dev/#">Kartor</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#" data-toggle="modal" data-target="#logoutModal" id="logout">Logga ut</a></li>
              <li><a href="/dev/inloggning.html">Logga in</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- **** Content **** -->
    <div class="content" ng-controller="uploadMapCtrl">
        <div class="col-md-8 ">
          <div class="row">
            <div id="map-canvas">
              <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.options.events" control="map.control">
                <ui-gmap-markers models="areaMarkers" coords="'self'" icon="'icon'">
                </ui-gmap-markers>
                <ui-gmap-marker coords="clickedLocation.coords" idkey="'aaaaaasdkljasdljkads'" options="clickedLocation.options">
                </ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="rightbar">
            <accordion close-others="false">
              <accordion-group heading="Lägg till nytt område" is-open="addArea.open" class="barpanel">
                <div class="col-md-12">
                  <form name="addArea" class="form-group">
                      <div class="col-md-12">
                          <div class="form-group">
                              <input ng-required="!addArea.areaName" ng-model="addArea.areaName" placeholder="Namn på området" >
                          </div>
                      </div>
                      <div class="newMap" ng-repeat="newMap in newMaps"> 
                        <div class="col-md-6">
                         <div class="form-group">
                             <input ng-required="!newMap.addArea.mapName" ng-model="newMap.addArea.mapName" placeholder="Namn på kartan" >
                         </div>
                        </div>
                        <div class="col-md-6">
                         <p>Välj Svårighetsgrad</p>
                         <label class="radio">
                           <input type="radio" ng-required="!newMap.addArea.levelRadio" ng-model="newMap.addArea.levelRadio" ng-value="1"> 1
                         </label>
                         <label class="radio">
                           <input type="radio" ng-required="!newMap.addArea.levelRadio" ng-model="newMap.addArea.levelRadio" ng-value="2"> 2
                         </label>
                         <label class="radio">
                           <input type="radio" ng-required="!newMap.addArea.levelRadio" ng-model="newMap.addArea.levelRadio" ng-value="3"> 3
                         </label>
                        </div>
                      </div>
                      <button ng-click="addNewMap()">Add fields</button>
                      <div>
                            {{ newMaps }}
                         </div>
                      <!-- <div class="col-md-12">
                          <p>Ladda upp fil</p>
                          <form class="dropzone" method="post" enctype="multipart/form-data" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfig">
                              <input name="file" type="file"/>
                          </form>
                      </div> -->
                    <button ng-click="saveArea(addArea.areaName, addArea.mapName, addArea.levelRadio, addArea.file)" class="btn btn-primary">Lägg till</button>
                  </form>
                </div>
              </accordion-group>
              <accordion-group heading="{{area.attributes.name}}" ng-repeat="area in areas" is-open="clickedMarker[area.id]" class="barpanel">
                <div class="col-md-12">
                    <h4>Postition</h4>
                    <p ng-bind="'Lat: ' + area.attributes.position._latitude">Lat</p>
                    <p ng-bind="'Long: ' + area.attributes.position._longitude">Lat</p>
                    <button>Ändra plats</button>
                    <h4>Kartor</h4>
                    <div ng-repeat="map in area.attributes.maps">
                        <div class="col-md-4">
                            <p ng-bind="map.attributes.name"></p>
                            <img ng-src="{{displayMap(map.attributes.file._url)}}" class="img-responsive" />
                        </div>
                    </div>
                </div>
              </accordion-group>
            </accordion>
          </div>
        </div>
    </div>
  </div>
</body>









