<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Wahoo Development | Utvecklingsbyrå i Uppsala</title>
    <meta property="og:title" content="">
    <meta name="og:image" content="">
    <meta property="og:description" content="">

    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap-css/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/vegas/dist/vegas.min.css" />
    <link rel="stylesheet" href="../bower_components/nya-bootstrap-select/dist/css/nya-bs-select.css" />
    <!-- endbower -->

    <!-- own css -->
    <link rel="stylesheet" type="text/css" href="../dev/css/base.css" />

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/parse-angular-patch/dist/parse-angular.js"></script>
    <script src="../bower_components/bootstrap-css/js/bootstrap.min.js"></script>
    <script src="../bower_components/vegas/dist/vegas.min.js"></script>
    <script src="../bower_components/parse/parse.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/nya-bootstrap-select/dist/js/nya-bs-select.js"></script>
    <script src="../bower_components/lodash/lodash.js"></script>
    <script src="../bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="../bower_components/angularjs-geolocation/src/geolocation.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->

    <!-- Javascript -->
    <script src="../dev/js/app.js"></script>
    <script src="../dev/js/controllers/schoolController.js"></script>

</head>
<body>
    <div class="pagewrap" ng-controller="schoolCtrl">
    <!-- **** Navbar **** -->
        <nav class="navbar navbar-default navbar-fixed-top" id="header" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div>
                <a class="navbar-brand" href="/"><img src="" class="img-responsive nav-icon" >Wahoo Development</a>
              </div>
            </div> 

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
              <ul class="nav navbar-nav">
                <li class="school-nav"><a href="#">Skolor</a></li>
                <li class="map-nav"><a href="#">Kartor</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/login.php">Logga in</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
          
        </nav>
        <!-- **** Content **** -->
        <div class="col-md-12 content">
            <div class="top-divider">
                
            </div>
            <div class="col-md-8 col-md-offset-2">

                <!-- New School -->
                 <form name="newSchoolForm">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <h4>Skola</h4>
                                      <input type="text" class="form-control" required ng-model="school.name" placeholder="Namn" >
                                  </div>
                              </div>
                              <div class="col-md-12">
                                <div class="form-group">
                                      <h4>Kontaktperson</h4>
                                      <label>Namn</label>
                                      <input type="text" class="form-control" name="name" required ng-model="contactPerson.name" placeholder="John Doe" >
                                </div>
                                <div class="form-group">
                                      <label>Telefonnummer</label>
                                      <input type="text" class="form-control" name="phone" integer required ng-pattern="/^(?:[0-9] ?){5,9}[0-9]$/" ng-model="contactPerson.phoneNumber" placeholder="070-00 00 000" >
                                      <span class="error-message" ng-show="newSchoolForm.phone.$error.pattern">Telefonnummret måste vara mellan 6 och 10 siffor!</span>
                                </div>
                                <div class="form-group">
                                      <label>Email</label>
                                      <input type="email" class="form-control" name="name" required ng-model="contactPerson.email" placeholder="john.doe@example.com">
                                </div>

                                  
                              </div>
                              <div class="col-md-12">
                                <p ng-model="error">{{error}}</p>
                              </div>
                          </div>
                        <div>
                        <button type="submit" ng-click="saveSchool(school, contactPerson, newSchoolForm)" class="btn btn-primary">Lägg till</button>
                      </div>

                      </form><!-- END New School -->

                <div >
                    <div ng-repeat="school in schools">
                        <div class="panel-group" id="school-{{$index}}-parent" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="school-{{$index}}-heading">
                              <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#school-{{$index}}-parent" href="#school-{{$index}}" aria-expanded="true" aria-controls="school-{{$index}}">
                                  <p>{{school.attributes.name}}</p>
                                </a>
                              </h4>
                            </div>
                                                                            <!-- Remove in to collapse all -->
                            <div id="school-{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="school-{{$index}}-heading">
                              <div class="panel-body">
                                <div class="col-md-6">
                                    <h4>Områden</h4>
                                    <div ng-repeat="area in school.attributes.areas">
                                        <strong><p ng-bind="area.attributes.name"></p></strong>
                                        <div ng-repeat="map in area.attributes.maps">
                                            <p ng-bind="map.attributes.name"> ete</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    
                                </div>
                              </div>
                              <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>Kontakt</p>
                                        <p ng-bind="school.attributes.contactPerson.attributes.name">namn</p>                                
                                    </div>
                                    <div class="col-md-4">
                                        <p>Epost</p>
                                        <p ng-bind="school.attributes.contactPerson.attributes.email"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>Telefon</p>
                                        <p ng-bind="school.attributes.contactPerson.attributes.phoneNumber">Telefon</p>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <pre>{{ schools | json }}</pre>
                </div>
            </div>
        </div>
    </div>
</body>