<!DOCTYPE html>
<html ng-app="myApp">
<head>

	<title></title>

	 <!-- bower:css -->
	 <link rel="stylesheet" href="../bower_components/bootstrap-css/css/bootstrap.min.css" />
	 <link rel="stylesheet" href="../bower_components/vegas/dist/vegas.min.css" />
	 <!-- endbower -->

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/parse-angular-patch/dist/parse-angular.js"></script>
    <script src="../bower_components/bootstrap-css/js/bootstrap.min.js"></script>
    <script src="../bower_components/vegas/dist/vegas.min.js"></script>
    <script src="../bower_components/parse/parse.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbower -->

    <!-- Javascript -->
    <script src="../dev/js/test.js"></script>
    
</head>
<body ng-controller="testController">

	<div id="testDiv">
		<div ng-repeat="school in schools">
			<p>{{school.attributes.name}}</p>
			<p>Bananas!</p>
		</div>
		<p>YEAH!</p>
		<pre>{{ schools | json }}</pre>
	</div>

	<h4 ng-click="doQuery()">KLICKA HÄR!!!</h4>
</body>
</html>