<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Wahoo Development | Utvecklingsbyrå i Uppsala</title>
    <meta property="og:title" content="">
    <meta name="og:image" content="">
    <meta property="og:description" content="">

	 <!-- bower:css -->
	 <link rel="stylesheet" href="../bower_components/bootstrap-css/css/bootstrap.min.css" />
	 <link rel="stylesheet" href="../bower_components/vegas/dist/vegas.min.css" />
	 <!-- endbower -->

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/parse-angular-patch/dist/parse-angular.js"></script>
    <script src="../bower_components/bootstrap-css/js/bootstrap.min.js"></script>
    <script src="../bower_components/vegas/dist/vegas.min.js"></script>
    <script src="../bower_components/parse/parse.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbower -->

    <!-- Javascript -->
    <script src="../dev/js/app.js"></script>
    <script src="../dev/js/controllers/testController.js"></script>
    
</head>
<body ng-controller="testCtrl">

	<div id="testDiv">
		<div ng-repeat="school in schools">
			<p>{{school.attributes.name}}</p>
			<p>Bananas!</p>
		</div>
		<p>YEAH!</p>
		<pre>{{ schools | json }}</pre>
	</div>

	<h4 ng-click="doQuery()">KLICKA HÄR!!!</h4>
</body>
</html>