<!-- Navbar --> 
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header" >
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div>
      <a class="navbar-brand" href="/dev/startsida.html">Kartwebben</a>
    </div>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  
    <ul class="nav navbar-nav">
      <li class="customers-nav"><a ui-sref="divided/orientera">Orientera</a></li>
      <!li class="customers-nav"><a ui-sref="divided/skolor" ng-show="user">Skolor</a></li>
      <!li class="customers-nav"><a ui-sref="divided/kartor" ng-show="user">Kartor</a></li>
      <li class="customers-nav"><a ui-sref="divided/skolor">Skolor</a></li>
      <li class="customers-nav"><a ui-sref="divided/kartor">Kartor</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="!user">
      <li><a href="#" ng-click="logInModal()">Logga in</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="user">
      <li><a href="#" ng-click="logOut()">Logga ut</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid