body, html{
	height: 100%;
}

 #map-canvas {
    height: calc(100vh - 50px);
    margin: 0;
    padding: 0;
}

.rightbar{
	height: calc(100vh - 50px);
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.pagewrap{
	height: 100%;
	width: 100%;
}
.topSpace{
	padding-top: 50px;
	height: 30em;
}


.textSpace{
	min-height: 10em;
	padding: 1em;
	background-color: white;
}

.divider{
	height: 10em;
}

.footer{
	margin-bottom: 0;
	width: 100%;
}

#nav-footer{
	margin-bottom: 0;
}

.loginForm label{
	font-size: 1em;
}

.dropdown-menu{
	min-width: 100%;
}

.mapSection{
	padding-bottom: 3em;
}

.content {
	padding-top: 50px;
	height: 100%;
}

.top-divider {
	height: 100px;
}

#addSchoolButton{
	margin-bottom: 1em;
}

.mapUpload{
	padding-bottom: 3em;
}

.mapHasRemove {
	position: relative;
	padding: 1em;
}
.mapHasRemove .removeIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.areaCard {
	background-color: #F1F1F1;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.error-message {
      color: red;
}
input.ng-dirty.ng-invalid {
      border-color: red;
}